

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.qrcard {
    width: 18rem; 
    border-radius: 15px; 
    background-color: white;
    padding: 1.5rem;
    margin: auto;

}

.cardImgTop {
    border-radius: 15px;
    margin: auto;
    align-content: center;
}

.cardTitle { 
    font-size: 20px;
}

.cardBody p { 
    font-size: 15px; 
}

.container {
    background-color: lightgray;
    margin: auto;
    align-content: center;
}
