

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.card {
    width: '18rem'; 
    border-radius: '15px'; 
    background-color: 'white';
}

.card-title { 
    font-size: 20px;
    font-family: Outfit; 
    font-weight: 700; 
}

.card-text { 
    font-size: 15px; 
    font-family: Outfit; 
    font-weight: 400;
    color: black; 
}

.container {
    background-color: #34495e;
}